<!--Nav start-->
<app-header [showDarkHeader]="true"></app-header>
<div class="container content">
  <h2><span style="font-weight: 400;">Wenn du diese App nutzt, vertraust du uns pers&ouml;nliche Daten an. Uns ist
      bewusst, dass dies eine gro&szlig;e Verantwortung ist und wir geben unser Bestes um sicherzustellen, dass du
      jederzeit die Kontrolle &uuml;ber deine Daten hast.</span></h2>
  <p><span style="font-weight: 400;">Daf&uuml;r haben wir diese Datenschutzerkl&auml;rung verfasst. Bitte nimm dir kurz
      Zeit sie zu lesen um zu verstehen, welche Daten wir verarbeiten und wieso wir das tun. Dar&uuml;ber hinaus
      erf&auml;hrst du, wie du deine Rechte bzgl. Aktualisierung, Verwaltung, L&ouml;schung und Export einfordern kannst
      und welche Einstellm&ouml;glichkeiten es gibt..</span></p>
  <h3><span style="font-weight: 400;">Welche Daten erheben wir?</span></h3>
  <h4><span style="font-weight: 400;">Daten, die du uns bereitstellst</span></h4>
  <p><span style="font-weight: 400;">Haupts&auml;chlich erheben wir Daten, die du uns zur Verf&uuml;gung stellst. Dazu
      z&auml;hlen die Daten, die du bei der Registrierung oder beim Benutzen der App angibst. Dazu z&auml;hlen z.B.
      deine E-Mail Adresse und dein Name.</span></p>
  <h4><span style="font-weight: 400;">Daten, die wir w&auml;hrend der Nutzung sammeln</span></h4>
  <p><span style="font-weight: 400;">Wir erheben Daten &uuml;ber die Browser und Ger&auml;te, die du zum Zugriff auf
      Coach+ verwendest. Das ist notwendig, um dir z.B. Benachrichtigungen zukommen zu lassen..</span></p>
  <p><span style="font-weight: 400;">Daten &uuml;ber deine Ger&auml;te die nicht notwendig sind um die
      Funktionst&uuml;chtigkeit der App zu garantieren werden nur mit deinem Einverst&auml;ndnis gesammelt. Das betrifft
      z.B. Absturzberichte. Diese w&uuml;rden uns sehr helfen die App noch besser und vor allem fehlerfreier zu machen.
      Deswegen w&uuml;rden wir uns freuen, wenn du diese Daten mit uns teilst, respektieren aber auch deine Entscheidung
      wenn du dies nicht m&ouml;chtest. Wir werden dich auch nicht nochmal danach fragen.</span></p>
  <p><span style="font-weight: 400;">Wenn du damit einverstanden bist, w&uuml;rden wir gerne auch dein Nutzungsverhalten
      innerhalb der App erfassen. Dadurch k&ouml;nnen wir erfahren, welche Teile der App besonders viel genutzt werden
      und diese Teile so stetig verbessern. Auch hierbei gilt, dass wir diese Daten nur mit deinem Einverst&auml;ndnis
      erheben.</span></p>
  <h3><span style="font-weight: 400;">Warum erheben wir Daten?</span></h3>
  <h4><span style="font-weight: 400;">Erm&ouml;glichung der App</span></h4>
  <p><span style="font-weight: 400;">Ohne deine pers&ouml;nlichen Daten wie z.B. Vorname und Name w&uuml;rde die App
      nicht funktionieren. Deswegen brauchen wir gewisse Daten von dir um die App nutzbar zu machen.</span></p>
  <h4><span style="font-weight: 400;">Wartung und Verbesserung</span></h4>
  <p><span style="font-weight: 400;">Wie bereits erw&auml;hnt helfen uns gewisse Daten (Absturzberichte,
      Nutzungsverhalten) dabei die App zu verbessern. Wenn wir wissen, wieso die App bei dir abgest&uuml;rzt ist,
      k&ouml;nnen wir den Fehler beheben und dir und allen anderen Nutzern der App in Zukunft einigen &Auml;rger
      ersparen. Andernfalls m&uuml;ssen wir darauf hoffen, dass dieser Fehler bei uns selbst auftaucht.</span></p>
  <h4><span style="font-weight: 400;">Kommunikation mit dir</span></h4>
  <p><span style="font-weight: 400;">Wir nutzen von dir bereitgestellte Daten wie deine E-Mail Adresse um Kontakt mit
      dir aufnehmen zu k&ouml;nnen. Das ist z.B. notwendig, wenn du dein Passwort vergessen hast und ein neues vergeben
      m&ouml;chtest.</span></p>
  <h3><span style="font-weight: 400;">Wie du deine Rechte einfordern kannst</span></h3>
  <h4><span style="font-weight: 400;">Daten exportieren</span></h4>
  <p><span style="font-weight: 400;">Du hast jederzeit das Recht, einen Export aller deiner von uns gespeicherten Daten
      anzufordern. Daf&uuml;r sende uns bitte eine E-Mail von deiner hier angegebenen E-Mail Adresse mit dem Betreff
      "Antrag auf Datenexport" an: datenschutz@coach.plus.</span></p>
  <h4><span style="font-weight: 400;">Auskunft der &uuml;ber dich gespeicherten Daten</span></h4>
  <p><span style="font-weight: 400;">Du hast jederzeit das Recht, eine Auskunft aller deiner von uns gespeicherten Daten
      anzufordern. Daf&uuml;r sende uns bitte eine E-Mail von deiner hier angegebenen E-Mail Adresse mit dem Betreff
      "Antrag auf Auskunft" an: datenschutz@coach.plus.</span></p>
  <h4><span style="font-weight: 400;">Daten l&ouml;schen</span></h4>
  <p><span style="font-weight: 400;">Du hast jederzeit das Recht, eine L&ouml;schung aller deiner von uns gespeicherten
      Daten anzufordern. Daf&uuml;r sende uns bitte eine E-Mail von deiner hier angegebenen E-Mail Adresse mit dem
      Betreff "Antrag auf L&ouml;schung" an: datenschutz@coach.plus.</span></p>
  <h4><span style="font-weight: 400;">Daten korrigieren</span></h4>
  <p><span style="font-weight: 400;">Wenn du der Meinung bist, dass Daten, die wir &uuml;ber dich gespeichert haben,
      nicht korrekt sind, kannst du eine Korrektur dieser Daten anfordern. Daf&uuml;r sende uns bitte eine E-Mail von
      deiner hier angegebenen E-Mail Adresse mit dem Betreff "Antrag auf Korrektur" an datenschutz@coach.plus.</span>
  </p>
  <h3><span style="font-weight: 400;">Auf Basis welcher rechtlichen Grundlagen erheben wir Daten?</span></h3>
  <p><span style="font-weight: 400;">Wie bereits erw&auml;hnt, ben&ouml;tigen wir einige Daten von dir um die App
      m&ouml;glich zu machen. Diese Daten erheben aufgrund berechtigter Interessen. Wieso wir Interesse daran haben,
      erf&auml;hrst du unter "Warum erheben wir Daten?".</span></p>
  <p><span style="font-weight: 400;">Manche Daten erheben wir nur mit deiner Einwilligung. Wir bitten dich um die
      Einwilligung zur Verarbeitung deiner Daten f&uuml;r bestimmte Zwecke, und du hast das Recht, deine Einwilligung
      jederzeit zu widerrufen.</span></p>
  <h3><span style="font-weight: 400;">Wie du die Datenschutzeinstellungen &auml;ndern kannst</span></h3>
  <p><span style="font-weight: 400;">Wie bereits erw&auml;hnt, ben&ouml;tigen wir gewisse Daten um die App m&ouml;glich
      zu machen. Dazu z&auml;hlen insbesondere die Daten, die du bei der Registrierung angibst. Andere Daten wie
      Absturzberichte oder dein Nutzungsverhalten sind jedoch nicht zwingend notwendig. Deswegen kannst du die Erfassung
      dieser Daten jederzeit unter "Mein Profil" in der WebApp erlauben und verbieten. Standardm&auml;&szlig;ig sind
      alle Einstellungen so gesetzt, dass nur die notwendigen Daten gesammelt werden. Das bedeutet, dass wenn du uns
      Absturzberichte und Nutzungsdaten zukommen lassen willst, du uns dazu explizit die Erlaubnis erteilen
      musst.</span></p>
  <h3><span style="font-weight: 400;">Wie sch&uuml;tzen wir deine Daten?</span></h3>
  <p><span style="font-weight: 400;">Wir bem&uuml;hen uns intensiv darum, dich und auch uns selber vor unbefugtem
      Zugriff auf Daten oder vor unbefugter Ver&auml;nderung, Offenlegung oder Vernichtung von Daten zu sch&uuml;tzen.
      Dazu ergreifen wir folgende Ma&szlig;nahmen:</span></p>
  <ul>
    <li style="font-weight: 400;"><span style="font-weight: 400;">Wir verschl&uuml;sseln jegliche Art der
        Daten&uuml;bertragung</span></li>
    <li style="font-weight: 400;"><span style="font-weight: 400;">Wir verschl&uuml;sseln alle Daten die wir &uuml;ber
        dich speichern</span></li>
    <li style="font-weight: 400;"><span style="font-weight: 400;">Wir &uuml;berpr&uuml;fen regelm&auml;&szlig;ig unsere
        Datensicherheitsstandards und Ma&szlig;nahmen zur Wahrung dieser</span></li>
    <li style="font-weight: 400;"><span style="font-weight: 400;">Wir beschr&auml;nken den Zugriff auf personenbezogene
        Daten auf Mitarbeiter und Auftragnehmern, die diese Daten f&uuml;r die weitere Datenverarbeitung unbedingt
        ben&ouml;tigen. Jede dieser Personen ist zur Einhaltung der Vertraulichkeit verpflichtet.</span></li>
    <li style="font-weight: 400;"><span style="font-weight: 400;">Wir geben deine Daten nur an vertrauensw&uuml;rdige
        Partner weiter, die unseren Datenschutzstandards gen&uuml;gen und halten die Bestimmungen schriftlich
        fest.</span></li>
  </ul>
  <h3><span style="font-weight: 400;">Datenweitergabe durch uns</span></h3>
  <p><span style="font-weight: 400;">Wir geben deine Daten nur in folgenden F&auml;llen weiter:</span></p>
  <h4><span style="font-weight: 400;">Mit deiner Einwilligung</span></h4>
  <p><span style="font-weight: 400;">Wir geben Daten au&szlig;erhalb von Mathandoro GbR weiter, wenn du uns daf&uuml;r
      deine Erlaubnis erteilst.</span></p>
  <h4><span style="font-weight: 400;">F&uuml;r die Verarbeitung durch andere Stellen</span></h4>
  <p><span style="font-weight: 400;">Wir geben Daten an unsere vertrauensw&uuml;rdigen Partner weiter, die Sie dort in
      unserem Auftrag weiterverarbeiten. Diese Weiterverarbeitung erfolgt auf der Grundlage unserer Anweisungen im
      Einklang mit unseren Datenschutzbestimmungen und unter Einhaltung der geltenden Rechtsgrundlage und geeigneten
      Vertraulichkeits- und Sicherheitsma&szlig;nahmen. Die Weitergabe der Daten und deren Bestimmungen sind schriftlich
      festgehalten. Beispielsweise nutzen wir einen Dienstanbieter zur Analyse von Absturzberichten.</span></p>
  <p><br /><br /><br /></p>
  <h3><span style="font-weight: 400;">Allgemeine Hinweise und Pflichtinformationen</span></h3>
  <h4><span style="font-weight: 400;">Datenschutz</span></h4>
  <p><span style="font-weight: 400;">Die Betreiber dieser Seiten nehmen den Schutz Ihrer pers&ouml;nlichen Daten sehr
      ernst. Wir behandeln Ihre personenbezogenen Daten vertraulich und entsprechend der gesetzlichen
      Datenschutzvorschriften sowie dieser Datenschutzerkl&auml;rung.</span></p>
  <p><span style="font-weight: 400;">Wenn Sie diese Website benutzen, werden verschiedene personenbezogene Daten
      erhoben. Personenbezogene Daten sind Daten, mit denen Sie pers&ouml;nlich identifiziert werden k&ouml;nnen. Die
      vorliegende Datenschutzerkl&auml;rung erl&auml;utert, welche Daten wir erheben und wof&uuml;r wir sie nutzen. Sie
      erl&auml;utert auch, wie und zu welchem Zweck das geschieht.</span></p>
  <p><span style="font-weight: 400;">Wir weisen darauf hin, dass die Daten&uuml;bertragung im Internet (z.B. bei der
      Kommunikation per E-Mail) Sicherheitsl&uuml;cken aufweisen kann. Ein l&uuml;ckenloser Schutz der Daten vor dem
      Zugriff durch Dritte ist nicht m&ouml;glich.</span></p>
  <h4><span style="font-weight: 400;">Hinweis zur verantwortlichen Stelle</span></h4>
  <p><span style="font-weight: 400;">Die verantwortliche Stelle f&uuml;r die Datenverarbeitung auf dieser Website
      ist:</span></p>
  <p><span style="font-weight: 400;">Breit Jansen Kharitonov Finkbeiner Kostka GbR</span></p>
  <p><span style="font-weight: 400;">Buhlweg 7</span></p>
  <p><span style="font-weight: 400;">76689 Karlsdorf-Neuthard</span></p>
  <p><span style="font-weight: 400;">Tel.: +49 175 577 85 36</span></p>
  <p><span style="font-weight: 400;">E-Mail: </span><a href="mailto:mathandoro@gmail.com"><span
        style="font-weight: 400;">mathandoro@gmail.com</span></a></p>
  <p>&nbsp;</p>
  <p><span style="font-weight: 400;">Verantwortliche Stelle ist die nat&uuml;rliche oder juristische Person, die allein
      oder gemeinsam mit anderen &uuml;ber die Zwecke und Mittel der Verarbeitung von personenbezogenen Daten (z.B.
      Namen, E-Mail-Adressen o. &Auml;.) entscheidet.</span></p>
  <h4><span style="font-weight: 400;">Widerruf Ihrer Einwilligung zur Datenverarbeitung</span></h4>
  <p><span style="font-weight: 400;">Viele Datenverarbeitungsvorg&auml;nge sind nur mit Ihrer ausdr&uuml;cklichen
      Einwilligung m&ouml;glich. Sie k&ouml;nnen eine bereits erteilte Einwilligung jederzeit widerrufen. Dazu reicht
      eine formlose Mitteilung per E-Mail an uns. Die Rechtm&auml;&szlig;igkeit der bis zum Widerruf erfolgten
      Datenverarbeitung bleibt vom Widerruf unber&uuml;hrt.</span></p>
  <h4><span style="font-weight: 400;">Beschwerderecht bei der zust&auml;ndigen Aufsichtsbeh&ouml;rde</span></h4>
  <p><span style="font-weight: 400;">Im Falle datenschutzrechtlicher Verst&ouml;&szlig;e steht dem Betroffenen ein
      Beschwerderecht bei der zust&auml;ndigen Aufsichtsbeh&ouml;rde zu. Zust&auml;ndige Aufsichtsbeh&ouml;rde in
      datenschutzrechtlichen Fragen ist der Landesdatenschutzbeauftragte des Bundeslandes, in dem unser Unternehmen
      seinen Sitz hat. Eine Liste der Datenschutzbeauftragten sowie deren Kontaktdaten k&ouml;nnen folgendem Link
      entnommen werden: </span><a
      href="https://www.bfdi.bund.de/DE/Infothek/Anschriften_Links/anschriften_links-node.html"><span
        style="font-weight: 400;">https://www.bfdi.bund.de/DE/Infothek/Anschriften_Links/anschriften_links-node.html</span></a><span
      style="font-weight: 400;">.</span></p>
  <h4><span style="font-weight: 400;">Recht auf Daten&uuml;bertragbarkeit</span></h4>
  <p><span style="font-weight: 400;">Sie haben das Recht, Daten, die wir auf Grundlage Ihrer Einwilligung oder in
      Erf&uuml;llung eines Vertrags automatisiert verarbeiten, an sich oder an einen Dritten in einem g&auml;ngigen,
      maschinenlesbaren Format aush&auml;ndigen zu lassen. Sofern Sie die direkte &Uuml;bertragung der Daten an einen
      anderen Verantwortlichen verlangen, erfolgt dies nur, soweit es technisch machbar ist.</span></p>
  <h4><span style="font-weight: 400;">Auskunft, Sperrung, L&ouml;schung</span></h4>
  <p><span style="font-weight: 400;">Sie haben im Rahmen der geltenden gesetzlichen Bestimmungen jederzeit das Recht auf
      unentgeltliche Auskunft &uuml;ber Ihre gespeicherten personenbezogenen Daten, deren Herkunft und Empf&auml;nger
      und den Zweck der Datenverarbeitung und ggf. ein Recht auf Berichtigung, Sperrung oder L&ouml;schung dieser Daten.
      Hierzu sowie zu weiteren Fragen zum Thema personenbezogene Daten k&ouml;nnen Sie sich jederzeit unter der im
      Impressum angegebenen Adresse an uns wenden.</span></p>
  <h4><span style="font-weight: 400;">Widerspruch gegen Werbe-Mails</span></h4>
  <p><span style="font-weight: 400;">Der Nutzung von im Rahmen der Impressumspflicht ver&ouml;ffentlichten Kontaktdaten
      zur &Uuml;bersendung von nicht ausdr&uuml;cklich angeforderter Werbung und Informationsmaterialien wird hiermit
      widersprochen. Die Betreiber der Seiten behalten sich ausdr&uuml;cklich rechtliche Schritte im Falle der
      unverlangten Zusendung von Werbeinformationen, etwa durch Spam-E-Mails, vor.</span></p>
  <h3><span style="font-weight: 400;">Datenerfassung auf unserer Website</span></h3>
  <h4><span style="font-weight: 400;">Cookies</span></h4>
  <p><span style="font-weight: 400;">Die Internetseiten verwenden teilweise so genannte Cookies. Cookies richten auf
      Ihrem Rechner keinen Schaden an und enthalten keine Viren. Cookies dienen dazu, unser Angebot nutzerfreundlicher,
      effektiver und sicherer zu machen. Cookies sind kleine Textdateien, die auf Ihrem Rechner abgelegt werden und die
      Ihr Browser speichert.</span></p>
  <p><span style="font-weight: 400;">Die meisten der von uns verwendeten Cookies sind so genannte
      &ldquo;Session-Cookies&rdquo;. Sie werden nach Ende Ihres Besuchs automatisch gel&ouml;scht. Andere Cookies
      bleiben auf Ihrem Endger&auml;t gespeichert bis Sie diese l&ouml;schen. Diese Cookies erm&ouml;glichen es uns,
      Ihren Browser beim n&auml;chsten Besuch wiederzuerkennen.</span></p>
  <p><span style="font-weight: 400;">Sie k&ouml;nnen Ihren Browser so einstellen, dass Sie &uuml;ber das Setzen von
      Cookies informiert werden und Cookies nur im Einzelfall erlauben, die Annahme von Cookies f&uuml;r bestimmte
      F&auml;lle oder generell ausschlie&szlig;en sowie das automatische L&ouml;schen der Cookies beim Schlie&szlig;en
      des Browser aktivieren. Bei der Deaktivierung von Cookies kann die Funktionalit&auml;t dieser Website
      eingeschr&auml;nkt sein.</span></p>
  <p><span style="font-weight: 400;">Cookies, die zur Durchf&uuml;hrung des elektronischen Kommunikationsvorgangs oder
      zur Bereitstellung bestimmter, von Ihnen erw&uuml;nschter Funktionen (z.B. Warenkorbfunktion) erforderlich sind,
      werden auf Grundlage von Art. 6 Abs. 1 lit. f DSGVO gespeichert. Der Websitebetreiber hat ein berechtigtes
      Interesse an der Speicherung von Cookies zur technisch fehlerfreien und optimierten Bereitstellung seiner Dienste.
      Soweit andere Cookies (z.B. Cookies zur Analyse Ihres Surfverhaltens) gespeichert werden, werden diese in dieser
      Datenschutzerkl&auml;rung gesondert behandelt.</span></p>
  <h4><span style="font-weight: 400;">Server-Log-Dateien</span></h4>
  <p><span style="font-weight: 400;">Der Provider der Seiten erhebt und speichert automatisch Informationen in so
      genannten Server-Log-Dateien, die Ihr Browser automatisch an uns &uuml;bermittelt. Dies sind:</span></p>
  <ul>
    <li style="font-weight: 400;"><span style="font-weight: 400;">Browsertyp und Browserversion</span></li>
    <li style="font-weight: 400;"><span style="font-weight: 400;">verwendetes Betriebssystem</span></li>
    <li style="font-weight: 400;"><span style="font-weight: 400;">Referrer URL</span></li>
    <li style="font-weight: 400;"><span style="font-weight: 400;">Hostname des zugreifenden Rechners</span></li>
    <li style="font-weight: 400;"><span style="font-weight: 400;">Uhrzeit der Serveranfrage</span></li>
    <li style="font-weight: 400;"><span style="font-weight: 400;">IP-Adresse</span></li>
  </ul>
  <p><span style="font-weight: 400;">Eine Zusammenf&uuml;hrung dieser Daten mit anderen Datenquellen wird nicht
      vorgenommen.</span></p>
  <p><span style="font-weight: 400;">Grundlage f&uuml;r die Datenverarbeitung ist Art. 6 Abs. 1 lit. b DSGVO, der die
      Verarbeitung von Daten zur Erf&uuml;llung eines Vertrags oder vorvertraglicher Ma&szlig;nahmen gestattet.</span>
  </p>
  <h3><span style="font-weight: 400;">Plugins und Tools</span></h3>
  <h4><span style="font-weight: 400;">Google Web Fonts</span></h4>
  <p><span style="font-weight: 400;">Diese Seite nutzt zur einheitlichen Darstellung von Schriftarten so genannte Web
      Fonts, die von Google bereitgestellt werden. Beim Aufruf einer Seite l&auml;dt Ihr Browser die ben&ouml;tigten Web
      Fonts in ihren Browsercache, um Texte und Schriftarten korrekt anzuzeigen.</span></p>
  <p><span style="font-weight: 400;">Zu diesem Zweck muss der von Ihnen verwendete Browser Verbindung zu den Servern von
      Google aufnehmen. Hierdurch erlangt Google Kenntnis dar&uuml;ber, dass &uuml;ber Ihre IP-Adresse unsere Website
      aufgerufen wurde. Die Nutzung von Google Web Fonts erfolgt im Interesse einer einheitlichen und ansprechenden
      Darstellung unserer Online-Angebote. Dies stellt ein berechtigtes Interesse im Sinne von Art. 6 Abs. 1 lit. f
      DSGVO dar.</span></p>
  <p><span style="font-weight: 400;">Wenn Ihr Browser Web Fonts nicht unterst&uuml;tzt, wird eine Standardschrift von
      Ihrem Computer genutzt.</span></p>
  <p><span style="font-weight: 400;">Weitere Informationen zu Google Web Fonts finden Sie unter </span><a
      href="https://developers.google.com/fonts/faq"><span
        style="font-weight: 400;">https://developers.google.com/fonts/faq</span></a><span style="font-weight: 400;"> und
      in der Datenschutzerkl&auml;rung von Google: </span><a href="https://www.google.com/policies/privacy/"><span
        style="font-weight: 400;">https://www.google.com/policies/privacy/</span></a><span
      style="font-weight: 400;">.</span></p>
  <p><br /><br /><br /></p>
  <p><span style="font-weight: 400;">Stand: 12.11.2019</span></p>
</div>

<app-footer></app-footer>