<!-- copy-right-section -->
<footer class="cpoy-right-bg">
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
        <p class="copyright">{{today | date:'y'}} Copyright by Mathandoro GbR</p>
        <p>Template by Pixelstrep</p>
      </div>
      <div class="col-md-12 text-center">
        <p class="links">
          <a [routerLink]="['/', 'impressum']">Impressum</a><span style="margin-left: 20px;"> </span><a [routerLink]="['/', 'data-privacy']">Datenschutz</a><span style="margin-left: 20px;"> </span><a [routerLink]="['/', 'terms-of-use']">Nutzungsbedingungen</a>
        </p>
        <p style="font-size: 8px;">Google Play und das Google Play-Logo sind Marken von Google LLC.</p>

      </div>
    </div>
  </div>
</footer>
<!--end copy right section-->
<!-- Tap to top -->
<div class="tap-top">
  <div>
    <i class="fa fa-angle-up" aria-hidden="true"></i>
  </div>
</div>
<!-- Tap to top end -->