<app-header showMenu="false"></app-header>
<div class="page-margin">
  <!--breadcrumb start-->
  <div class="breadcrumb-bg">
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-sm-6 d-align-center">
          <h2 class="title"><span>{{name}}</span></h2>
        </div>
      </div>
    </div>
  </div>
  <!--breadcrumb end -->
  <section class="review-block blog-page">
    <div class="container">
      <ng-content></ng-content>
    </div>
  </section>
</div>
<app-footer></app-footer>
