{
    "mongodb" : "",
    "jwt_secret": "",
    "monitoring_token": "",
    "port": 5200,
    "apns": {
        "teamId": "",
        "keyId": "",
        "key": "",
        "production": false,
        "bundleId": ""
    },
    "fcm": {},
    "mail": {
        "from": "",
        "mailgun": {
            "apiKey": "",
            "domain": "",
            "host": ""
        }
    }
 }