<!-- download section -->
<section class="download-bg">
   <div class="container">
      <div class="row">
         <div class="col-xl-3 display-flex">
            <div class="footer-logo">
               <!--<img src="assets/images/footer-logo.png" alt="footer-logo" class="img-fluid">-->
            </div>
         </div>
         <div class="col-xl-5 display-flex">
            <div class="download-text">
               <h3>Lade dir jetzt dir App und werde Coach+</h3>
            </div>
         </div>
         <div class="col-xl-4 display-flex">
            <div class="download-img">
               <ul>
                  <li><a href="APPSTORE_URL"><img src="assets/images/appstore.svg" height="40px" alt="Appstore"></a></li>
                  <li><a href="https://play.google.com/store/apps/details?id=com.mathandoro.coachplus"><img src="assets/images/google-play-badge.png" height="40px" alt="Play Store"></a></li>
               </ul>
            </div>
         </div>
      </div>
   </div>
</section>
<!-- end download section -->