<!-- slider-section -->
<section class="slide-bg" id="home">
   <div class="animation-circle">
      <i></i>
      <i></i>
      <i></i>
   </div>
   <div class="container">
      <div class="row">
         <div class="col-md-6">
            <div class="d-flex-1">
               <div class="slide-text">
                  <div>
                     <h1>Sei nicht nur Coach, sei
                        <span class="main-title">Coach+!</span>
                     </h1>
                     <h4>Coache deine Teams</h4>
                     <div class="slid-btn">
                        <a href="https://apps.apple.com/de/app/coach/id1232205905"><img src="assets/images/appstore.svg" height="40px" alt="Appstore"></a>
                        <a href="https://play.google.com/store/apps/details?id=com.mathandoro.coachplus"><img src="assets/images/google-play-badge.png" height="40px" alt="Play Store"></a>
                     </div>
                  </div>
               </div>
            </div>
         </div>
         <div class="col-md-6">
            <div class="home-right">
               <div class="mobile-slid">
                  <img src="assets/images/screenshot01.png" class="img-fluid screenshot01">
               </div>
            </div>
         </div>
      </div>
   </div>
</section>
<!-- end slider section -->