<!-- about section-->
<section id="about" class="pb-0 about">
   <div class="about-chat">
      <div class="container ">
         <div class="row">
            <div class="col-md-12 text-center">
               <div class="section-title">
                  <h2>Über Coach+</h2>
               </div>
            </div>
            <div class="col-md-12 about-box">
               <div class="row">
                  <div class="col-lg-3 col-sm-6 about-border">
                     <div class="chat-box">
                        <img src="assets/images/stay-connected.png" alt="stay-connected">
                        <h3 class="sub-title">Plane alle Termine deiner Teams</h3>
                     </div>
                  </div>
                  <div class="col-lg-3 col-sm-6 about-border">
                     <div class="chat-box">
                        <img src="assets/images/get-notified.png" alt="get-notified" >
                        <h3  class="sub-title">Fordere Rückmeldungen von unentschlossenen Teilnehmern</h3>
                     </div>
                  </div>
                  <div class="col-lg-3 col-sm-6 about-border">
                     <div class="chat-box">
                        <img src="assets/images/stay-updated.png" alt="stay-updated">
                        <h3  class="sub-title">Behalte Termine & Teilnehmer im Überblick</h3>
                     </div>
                  </div>
                  <div class="col-lg-3 col-sm-6">
                     <div class="chat-box">
                        <img src="assets/images/mini-world.png" alt="mini-world">
                        <h3  class="sub-title">Finde neue Teams in deiner Nähe</h3>
                     </div>
                  </div>
               </div>
            </div>
            <!--
            <div class="col-md-12">
               <div class="chat-slide">
                  <h3>Connect with People all over the world , with your small device</h3>
               </div>
            </div>
            -->
         </div>
      </div>
   </div>
   <!--
   <div class="container-fluid text-center">
      <img src="assets/images/banner.png" alt="banner.png" class="img-fluid full-banner">
   </div>
   -->
</section>
<!-- end about section  -->